

  <div class="form-container">


<%=form_for @shop, local:true do |f| %>
<div class="form-group">
  <%= f.label :name %>
   <%= f.text_field :name, class:"form-control col-md-5", placeholder: "例：starbacks coffee" %>
</div>
<div class="form-group">
   <%= f.label :area %>

   <%= f.text_field :area, class: "form-control col-md-5", placeholder: "例：二子玉川"%>
 </div>
<div class="form-group">
 <%= f.label :menu %>
   <%= f.text_field :menu, class:"form-control col-md-5", placeholder: "例：カフェラテ"%>
   </div>

   <div class="form-group">
   <%= f.label :price %>
   <%= f.text_field :price, class:"form-control col-md-5", placeholder:"例：500¥" %>
   </div>
<div class="form-group">
    <%= f.label :review %>
   <%= f.text_area :review, class:"form-control col-md-7", placeholder: "自由に感想を書いてください(140文字制限)"%>
   </div>

   <div class="field form-group form-control-file">
   <%=f.label :tag_list%>
   <%=f.text_field :tag_list, class:"form-control col-md-5",placeholder: "例：wi-fi"%>
   </div>
   <!--[["wi-fi",1],["充電",2],["駅チカ",3],["デート",4],["1人",5],["コーヒースタンド",6]]でセレクトボックスで限定する-->



<div class="form-group">
   <%= f.fields_for :pictures do |f|%>

  <%= f.file_field :picture,class:"form-control col-md-3", name:"pictures[picture][]"%><!--multiple削除した相性が悪いらしい？-->

    <% end %>
</div>

<div class="form-group">


<%if current_user.admin==true %>
<div class="form-group">
<%= f.label :latitude%>
<%= f.text_field :latitude, class:"form-control col-md-5", placeholder:"緯度が入ります" %>
</div>
<div class="form-group">
<%= f.label :longitude %>
<%= f.text_field :longitude, class:"form-control col-md-5", placeholder:"経度が入ります" %>
</div>

  <%=f.text_field :address, class:"form-control col-md-5", placeholder:"住所が入ります" %>
  <%=f.text_field :station, class:"form-control col-md-5", placeholder:"最寄り駅が入ります"%>
  <%=f.text_field :opening_hour, class:"form-control col-md-5", placeholder:"営業時間が入ります"%>
  <%=f.text_field :phone, class:"form-control col-md-5", placeholder:"お店の電話番号が入ります"%>
  <%=f.text_field :url, class:"form-control col-md-5", placeholder:"お店のURLが入ります"%>
<%end%>

  </div>


   <%= f.submit"投稿", class:"btn btn-dark", style:"color:white;" %>

   <% end %>
</div>
