



<div class="search-block">

  <h4><strong>キーワードで検索</strong></h4>
  <%= form_tag "/shops/search?utf8=✓", :method =>"get" do %>
      <%= text_field_tag :search, params[:search], class:"form-control col-md-7", style:"display: inline"%><!--display:inlineで段落分け消し-->

          <%= submit_tag "Search", :area => nil , class:"btn btn-outline-dark"%>

    <!--each文ではないのでsubmit_tagになっている-->
  <% end %>

<h4><strong>場所で検索</strong></h4>

<span class=" btn btn-dark search">
<%=link_to "二子玉川", tag_path("二子玉川"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "表参道", tag_path("表参道"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "渋谷", tag_path("渋谷"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "中目黒", tag_path("中目黒"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "代官山", tag_path("代官山"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "西荻窪", tag_path("西荻窪"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "銀座", tag_path("銀座"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "都立大学", tag_path("都立大学"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "中目黒", tag_path("中目黒"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "大手町", tag_path("大手町"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "桜新町", tag_path("桜新町"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "三軒茶屋", tag_path("三軒茶屋"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "明治神宮前", tag_path("明治神宮前"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "新橋", tag_path("新橋"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "下北沢", tag_path("下北沢"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "新宿三丁目", tag_path("新宿三丁目"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "人形町", tag_path("人形町"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "四谷三丁目", tag_path("四谷三丁目"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "代々木上原", tag_path("代々木上原"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "品川", tag_path("品川"), style:"color:white;"%>
</span>


<h4><strong>特徴で検索</strong></h4>
<span class=" btn btn-dark search">
<%=link_to "wi-fiあり", tag_path("wi-fi"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "コーヒースタンド", tag_path("コーヒースタンド"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "インスタ映え", tag_path("インスタ映え"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "デート", tag_path("デート"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "コワーキングスペース", tag_path("コワーキングスペース"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "電源あり", tag_path("電源"), style:"color:white;"%>
</span>
<span class=" btn btn-dark search">
<%=link_to "駅チカ", tag_path("駅チカ"), style:"color:white;"%>
</span>

</div>


<%if params[:utf8]%><!--もしクエリパラメータが来たら表示する-->
<div class="all-container">


<div class="second-block">
<h1 class="title"><strong>検索結果</strong></h1>



<section id="forth-block">
  <% @shops.each do |t|  %>
    <div class="l-card">
      <div class="l-thumbnail">
        <figure class="thumbnail-wrapper">
<%if t.pictures.present?%>
          <img src="<%=t.pictures[0].picture%>">
<%end%>
        </figure>
          <span class="more-text">
            <%=link_to "Read More", "/shops/#{t.id}" %>
          </span>
      </div>
      <div class="text-content">
        <h3 class="title">
          <%if t.name.present?%>
          <strong><%= t.name %></strong>
          <%end%>
        </h3>
          <p class="caption">
            <%if t.area.present?%>
            <%=link_to "#{t.area}", tag_path("#{t.area}") ,style:"color:black;"%>
            <%end%>
          </p>
            <div class="content-meta">
              <span class="date">
                <span class="star-rating">
                  <span class="star-rating-front" style="width: <%=(t.average_rate)%>%;">★★★★★</span>
                  <span class="star-rating-back">★★★★★</span>
                </span>
                  <% if t.comments.average(:score).present? %>
                    <%=t.comments.average(:score).round(1)%>点

                    <i class="fa fa-commenting fa-lg" aria-hidden="true"style="margin-left:5px;"></i><%= t.comments.count %>

                  <% end %>
              </span>
            </div>
      </div>
    </div>
  <% end %>
</section>
</div>
</div>

<%end%>
